ClientOnboarding_Bot/Onboarding System Automation.json
{
  "name": "Onboarding System Automation copy",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Onboarding System",
        "formDescription": "Please fulfill all of the fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Enter Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "Please Enter Your Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Industry",
              "placeholder": "e.g. Finances, Health Care",
              "requiredField": true
            },
            {
              "fieldLabel": "What do you want to achieve with us in 5 months",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -704,
        224
      ],
      "id": "4d373953-8844-413f-932e-16652ebb12ea",
      "name": "On form submission",
      "webhookId": "9cb2e8b2-c041-4168-9b9b-a2571f00216a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Can you generate a warm and professional welcome email for a new client based on the information provided? The message should be friendly, brief, and personalized—while still sounding professional. It should reflect the client’s industry and their goals for our collaboration. Below is the client’s information:\n\nName: {{ $json.Name }}\n\nEmail: {{ $json.Email }}\n\nCompany Industry: {{ $json['Company Industry'] }}\n\nGoals for the Partnership: {{ $json['What do you want to achieve with us in 5 months'] }}\n\nMake sure to always end the email with the following sign-off:\n\nBest regards,\nBob Bob\nVP of Internal Relations\nABC Corp\n\nDo not use placeholders like [Your Name] or [Your Contact Information] under any circumstances, even if some information is missing.\n\nReturn the result in 3 separate fields:\n\nSubject: The email’s subject line\n\nBody: The main email content\n\nEmail: {{ $json.Email }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -336,
        -64
      ],
      "id": "07b5db1b-5b51-414c-8372-c20b74f9f094",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        80
      ],
      "id": "31fd5606-9a40-4c4d-9b6f-5767737155b0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GeYHEcKDgFBTW3pW",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29476ae1-c068-4e88-ab80-ab5f3eae61b2",
              "name": "Subject",
              "value": "={{ $json.output.match(/Subject: (.+)/)[1] }}",
              "type": "string"
            },
            {
              "id": "0398c861-ae8b-459d-b1a0-2b931ee96297",
              "name": "Body",
              "value": "={{ $json.output.match(/Body:\\s*([\\s\\S]*?)\\s*Email:/)[1].trim() }}",
              "type": "string"
            },
            {
              "id": "378054c1-fbbe-4303-8a3e-2710e65809fb",
              "name": "Email",
              "value": "={{ $json.output.match(/Email:\\s*(.+)/)[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -64
      ],
      "id": "5e6fac06-242e-4115-bbd2-1b260caab820",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.Subject }}",
        "message": "={{ $json.Body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        96,
        -64
      ],
      "id": "304f8752-1cc3-4a1f-a3e3-ef7ae2c07cff",
      "name": "Send a message",
      "webhookId": "3bc0c01b-69ce-40e3-ba44-b5a2b7881105",
      "credentials": {
        "gmailOAuth2": {
          "id": "AH8hZGm0rsEMN0k4",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the client details below to generate a clear summary of their profile. Here is the information provided:\n\nName: {{ $json.Name }}\n\nCompany Industry: {{ $json['Company Industry'] }}\n\nGoals with Us: {{ $json['What do you want to achieve with us in 5 months'] }}\n\nReturn the following fields separately:\n\nName: {{ $json.Name }}\n\nEmail: {{ $json.Email }}\n\nSummary: A concise overview of the client based on the information provided above\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -352,
        464
      ],
      "id": "e20f3d8b-fc08-4a89-8ddc-58be29ae5623",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        624
      ],
      "id": "5d19c2fa-4c24-4089-ae96-f44eb0f1778e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "GeYHEcKDgFBTW3pW",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d42ab633-c588-4ab9-bc10-feae689c3557",
              "name": "Name",
              "value": "={{ $json.output.match(/Name:\\s*(.*)/)[1] }}",
              "type": "string"
            },
            {
              "id": "e46514e5-0ba2-4e70-9e11-9f55e8ad86ae",
              "name": "Email",
              "value": "={{ $json.output.match(/Email:\\s*([^\\s]+)/)[1] }}",
              "type": "string"
            },
            {
              "id": "6c422c02-f49a-4e9b-a4ca-b83e1ca16ea1",
              "name": "Summary",
              "value": "={{ $json.output.match(/Summary:\\s*([\\s\\S]*)/)[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        464
      ],
      "id": "955062da-6277-4258-a2e7-9b065b80b6f3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rlkVcf1ua1lIQEAKaZYdS6T00LUwlaEAM5p7c7J-1Tc",
          "mode": "list",
          "cachedResultName": "Client Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rlkVcf1ua1lIQEAKaZYdS6T00LUwlaEAM5p7c7J-1Tc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rlkVcf1ua1lIQEAKaZYdS6T00LUwlaEAM5p7c7J-1Tc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Summary": "={{ $json.Summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        464
      ],
      "id": "642edcf8-137e-4d84-a319-cd9517713fb9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ucDuUuzv7TfyCtLU",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "content": "## This Part of the workflow is part of sending Onboarding mails",
        "height": 352,
        "width": 848,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -128
      ],
      "id": "cab1cb6b-59cb-4f3a-aedd-39d363b7c185",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## This Part of the workflow is part of creating a database of the client information on Google Sheets",
        "height": 416,
        "width": 848,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        368
      ],
      "id": "eb05d051-3bfc-466b-8638-84519b61aafe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Form Submission",
        "height": 224,
        "width": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -768,
        144
      ],
      "id": "a2106ca8-5284-41d7-bbb3-f373fd80f769",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e268b67-d8b5-4461-858d-60a36e26100e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80506d3448078bcf0bb2e0bcf69531cdc076409df54bd01c6e846b8a70b9afaa"
  },
  "id": "ItyLFKpN3mqaqqFy",
  "tags": []
}