DataHealthGovernanceSystem/Data_Governancr.json
{
  "name": "Data_Governancr",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2128,
        208
      ],
      "id": "76f6d3db-382f-42ec-b437-45b16cf8f5e3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1600,
        208
      ],
      "id": "7492050a-98d7-4d3c-bcbb-abfc2fe32ed6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "issue_id",
              "field2": "output[0].issue_id"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -720,
        592
      ],
      "id": "7d9092bc-eb79-4b76-ac41-5f72c9de9dc4",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"issue_id\": {\n        \"type\": \"string\",\n        \"pattern\": \"^ISSUE-\\\\d{3}$\"\n      },\n      \"category\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Fixable with SQL\",\n          \"Needs Policy Establishment\"\n        ]\n      },\n      \"description\": {\n        \"type\": \"string\",\n        \"maxLength\": 200\n      },\n      \"sample_values\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        },\n        \"minItems\": 1,\n        \"maxItems\": 5\n      },\n      \"suggestion\": {\n        \"type\": \"string\",\n        \"maxLength\": 200\n      }\n    },\n    \"required\": [\n      \"issue_id\",\n      \"category\",\n      \"description\",\n      \"sample_values\",\n      \"suggestion\"\n    ],\n    \"additionalProperties\": false\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1616,
        416
      ],
      "id": "2ed3f691-ef06-4c6c-8295-d115a520d8b8",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -736,
        80
      ],
      "id": "09c47efe-c4bb-41b9-93e2-cfdfbbb8d6a5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"issue_id\": {\n        \"type\": \"string\",\n        \"pattern\": \"^ISSUE-\\\\d{3}$\"\n      },\n      \"status\": {\n        \"type\": \"string\",\n        \"enum\": [\"resolved\", \"failed\"]\n      },\n      \"message\": {\n        \"type\": \"string\"\n      },\n      \"executed_sql\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\"issue_id\", \"status\", \"message\", \"executed_sql\"],\n    \"additionalProperties\": false\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        176,
        304
      ],
      "id": "aabd1706-1aa9-4c78-8d86-57a0ba6a2580",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -528,
        592
      ],
      "id": "8cafa92f-8070-4f2d-b5c7-e39ee93e49d7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"report_title\": { \"type\": \"string\" },\n    \"report_link\": { \"type\": \"string\" }\n  },\n  \"required\": [\"report_title\", \"report_link\"],\n  \"additionalProperties\": false\n}\n\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -16,
        768
      ],
      "id": "9b4d85e7-a22e-4885-a2d9-010dd6d948d0",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the issue details\n\nIssue ID - {{ $('Loop Over Items').item.json.json.issue_id }}\n\nCategory - {{ $('Loop Over Items').item.json.json.category }}\n\nDescription - {{ $('Loop Over Items').item.json.json.description }}\n\nSample values: {{ $('Loop Over Items').item.json.json.sample_values }}\n\nSuggestion: {{ $('Loop Over Items').item.json.json.suggestion }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an SQL Generator & Executor Agent, responsible for automatically fixing data‑quality issues in a PostgreSQL database.\n\n1·Input  \nReceive the following details as input:  \n • issue_id     \n • category       \n • description     \n • sample_data  \n • suggestion    \n\n2·Processing Steps  \n • **Analyze** the issue details.  \n • **Generate** a valid SQL statement (UPDATE or DELETE) to resolve it.  \n • **Execute** the SQL via the connected “query executor” tool.  \n\n3·Output Contract  \nReturn exactly one JSON array—no markdown, no code fences, no extra keys. Each element must be an object with **these keys in this order**:  \n 1. **issue_id**     (string) — echo the input value  \n 2. **status**       (string) — `\"resolved\"` if SQL ran successfully or `\"failed\"` on error  \n 3. **message**      (string, ≤200 chars) — human‑readable outcome or error summary  \n 4. **executed_sql** (string) — the exact SQL you ran (even if it failed)  \n\n4·Response Rules  \n • Do **not** wrap the JSON array in any outer object.  \n • Do **not** include any commentary, backticks or markdown.  \n • If execution fails, set `status` to `\"failed\"`, include the error in `message`, and still return the attempted SQL in `executed_sql`.  \n • If execution succeeds, `message` should confirm the change (e.g., rows affected).  \n • Always include the original `issue_id`.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -112,
        80
      ],
      "id": "9728728f-2383-443f-911f-7f921bdecf6c",
      "name": "Data Issue Fixer Agent"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1968,
        496
      ],
      "id": "7eefb29c-04d8-401f-8b85-1b33b84216d6",
      "name": "Groq-Kimi-K2",
      "credentials": {
        "groqApi": {
          "id": "MO6A9nZijHu6bYuG",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        304
      ],
      "id": "e8d0f9f2-d63d-44ee-95dd-861d1b586e22",
      "name": "Gemini-2.5-Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "uIxJ2FCooS9mxcV0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        768
      ],
      "id": "274cce28-96b1-4917-b774-e6c03800dd2b",
      "name": "Gemini-2.5-Flash1",
      "credentials": {
        "googlePalmApi": {
          "id": "uIxJ2FCooS9mxcV0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to create a new Google Docs",
        "folderId": "1WrT0--0viqafA14FYzJOE67ms9OfQuzM",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -400,
        832
      ],
      "id": "fae16550-aff3-4bdb-bdf0-0c52497e509e",
      "name": "Create Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "9juZ7OYzrm1ncusZ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to share the access of the document to everyone",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        -272,
        800
      ],
      "id": "289d4390-a35b-4ef2-8406-029027216ce1",
      "name": "Update Access",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "doHCYgH0DgILi9Xx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool update the content in the google docs",
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            },
            {
              "object": "footer",
              "action": "create",
              "insertSegment": "footer",
              "segmentId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields1_Segment_ID', ``, 'string') }}",
              "index": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields1_Index', ``, 'number') }}"
            },
            {
              "object": "header",
              "action": "create",
              "insertSegment": "header",
              "segmentId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields2_Segment_ID', ``, 'string') }}",
              "index": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields2_Index', ``, 'number') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -128,
        864
      ],
      "id": "89189994-6793-4906-a705-77b7f419d25a",
      "name": "Update Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "9juZ7OYzrm1ncusZ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to execute the generated Postgres SQL query and get the data",
        "workflowId": {
          "__rl": true,
          "value": "0pVN5G05q5UeOMA4",
          "mode": "list",
          "cachedResultUrl": "/workflow/0pVN5G05q5UeOMA4",
          "cachedResultName": "sql_query_executer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sql_query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sql_query', ``, 'string') }}"
          },
          "matchingColumns": [
            "sql_query"
          ],
          "schema": [
            {
              "id": "sql_query",
              "displayName": "sql_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -80,
        320
      ],
      "id": "d54b5170-d309-428d-a522-e1bef69800d7",
      "name": "Query Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get the Table Schema details",
        "operation": "executeQuery",
        "query": "SELECT\n    table_name,\n    column_name,\n    data_type,\n    is_nullable\nFROM\n    information_schema.columns\nWHERE\n    table_schema = 'public' -- Or your specific schema name\nORDER BY\n    table_name,\n    ordinal_position;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        48,
        288
      ],
      "id": "f6cbe223-d24a-46f3-854c-bd25ab68fa67",
      "name": "Postgres Schema",
      "credentials": {
        "postgres": {
          "id": "6A8eGNaHInssGIW7",
          "name": "Data"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to execute the generated Postgres SQL query and get the data",
        "workflowId": {
          "__rl": true,
          "value": "0pVN5G05q5UeOMA4",
          "mode": "list",
          "cachedResultUrl": "/workflow/0pVN5G05q5UeOMA4",
          "cachedResultName": "sql_query_executer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sql_query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sql_query', ``, 'string') }}"
          },
          "matchingColumns": [
            "sql_query"
          ],
          "schema": [
            {
              "id": "sql_query",
              "displayName": "sql_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1856,
        416
      ],
      "id": "35e87a8a-c568-4688-941d-b665190bd15c",
      "name": "Query Tool1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get the Table Schema details",
        "operation": "executeQuery",
        "query": "SELECT\n    table_name,\n    column_name,\n    data_type,\n    is_nullable\nFROM\n    information_schema.columns\nWHERE\n    table_schema = 'public' -- Or your specific schema name\nORDER BY\n    table_name,\n    ordinal_position;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -1744,
        512
      ],
      "id": "f62cd54b-bbb1-42ed-984f-9c8a0db87528",
      "name": "Postgres_Schmea",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "6A8eGNaHInssGIW7",
          "name": "Data"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "krishnakantnew14@gmail.com",
        "subject": "=Approval Needed – Data Quality Fix ({{ $json.json.issue_id }})",
        "message": "=Tony,\n\nWe’ve detected a data‑quality issue in the AtliQ database:\n\nIssue ID - {{ $json.json.issue_id }}\n\nDescription - {{ $json.json.description }}\n\nSuggestion: {{ $json.json.suggestion }}\n\nWe plan to apply this fix via SQL. Please review and let us know if you approve so we can proceed.\n\nRegards,\nData Fixer",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -528,
        64
      ],
      "id": "262199de-1257-441a-9162-398405985627",
      "name": "Send Approval Request and Wait",
      "webhookId": "2597c8db-314e-4257-a6a1-9cbf07778c23",
      "credentials": {
        "gmailOAuth2": {
          "id": "BduuK2xE34DeB5CA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## #1 -  Investigate the Database and list down the issues \nAnalyze the existing database structure and data quality to identify missing fields, inconsistent formats, incorrect relationships, type mismatches, and any structural problems that could affect retrieval or analytics\n",
        "height": 608,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2032,
        48
      ],
      "id": "5f16640b-f979-41f0-8a0f-f9e3ab9a7723",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## #2 - Fix the issues using SQL\nExecute validated SQL statements to automatically correct identified data quality problems and update the database with clean, consistent, and accurate values.\n",
        "height": 496,
        "width": 864,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -48
      ],
      "id": "9ee1d33e-d310-43f4-842f-774e71f26563",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88539708-4ba7-4ea3-bedd-44d67f3b7075",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        64
      ],
      "id": "90e812a5-8be9-4f8d-b5a1-cd34cfc53f1b",
      "name": "Approved?"
    },
    {
      "parameters": {
        "content": "## #3 - Create a Report\nGenerate a polished Database Health Check Report summarizing investigation results, resolved issues, pending discussions, and share it as a publicly accessible Google Document.",
        "height": 528,
        "width": 768,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        464
      ],
      "id": "058d67f5-984a-4a42-b4be-7a90d2d775a3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "krishnakantnew14@gmail.com",
        "subject": "=Data Quality Fixs - Need your 10 Mins",
        "message": "=Tony,\n\nWe’ve identified {{ $('Can be fixed with SQL?').all().length }} data-quality issues in the AtliQ database that we plan to fix using SQL.\n\nWe'll share the list of issues along with the proposed changes. Once you review them, we’ll move forward with the fixes based on your approval.\n\nIt’ll take just 10 minutes of your time.\n\nWhen you're available, simply click the \"Yes\" button, and we’ll send the issues one by one for your review.\n\nLooking forward to your confirmation.\n\nRegards,\nData Fixer",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "YES",
            "disapproveLabel": "NO"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1120,
        208
      ],
      "id": "c017a6db-40d0-4ea6-b4cc-fda234d8ea0e",
      "name": "Send Approval Request and Wait1",
      "webhookId": "ad6f9ffa-d2f7-434b-b330-01afe3d66b4c",
      "credentials": {
        "gmailOAuth2": {
          "id": "BduuK2xE34DeB5CA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "009557b2-3359-4095-b34c-89cc4581687e",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1312,
        432
      ],
      "id": "48d9450b-7a44-4843-8b8b-3324d1c7c974",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41c08f5f-0ac6-4cab-a1f3-32f690336e58",
              "name": "issue_itmes",
              "value": "={{ $('Can be fixed with SQL?').all() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        416
      ],
      "id": "6056ef84-d62b-429f-8646-7131902d0414",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "issue_itmes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -880,
        288
      ],
      "id": "6a0ec882-45c8-4c96-ae58-06c50937e512",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "830bebba-f255-4b37-a7fb-775ca758a770",
              "leftValue": "={{ $json.category }}",
              "rightValue": "Fixable with SQL",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1328,
        208
      ],
      "id": "252a5311-2ec0-4353-addb-321df2fb8503",
      "name": "Can be fixed with SQL?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1088,
        608
      ],
      "id": "6ee12404-6e5e-4609-b204-0ac54294cce2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Waiting for the Approver's time\nPause the workflow until the designated approver reviews the pending request and provides approval or feedback.\n",
        "height": 720,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        48
      ],
      "id": "c931dc9a-f716-451c-a057-34b31c810798",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "krishnakantnew14@gmail.com",
        "subject": "=AtliQ {{ $json.output.report_title }}",
        "emailType": "text",
        "message": "=Tony,\n\nWe have completed the Health Check of our AtliQ DB.\n\nAnd you can find the comprehensive report with further details in this document - {{ $json.output.report_link }}\n\nRegards,\nData Checker Reporting Bot",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        592
      ],
      "id": "c0856a3b-8d3c-495f-8b21-1bf27db0c840",
      "name": "Send a message",
      "webhookId": "6c0d27bf-b546-475e-a444-4da8c4d9ae7d",
      "credentials": {
        "gmailOAuth2": {
          "id": "BduuK2xE34DeB5CA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Run a full data‑quality audit on the connected PostgreSQL database.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are Master Data Health Checker, sentinel of data fidelity across a PostgreSQL landscape.\n\nYour mission is to:\n\nScan every reachable schema, table, and column using the provided query tool.\n\nDetect all possible data-quality issues.\n\nEmit only a clean JSON array—nothing else.\n\n🔍 Evaluation Scope:\nCheck for all of the following:\n\nMissing or NULL values in mandatory fields\n\nPlaceholder tokens (e.g., \"UNKNOWN\", \"N/A\", \"-\", \"Other\")\n\nInconsistent formats (e.g., mixed date formats, casing, or whitespace)\n\nMixed data types in a single column (e.g., text in numeric fields)\n\nOutliers (e.g., negative values or extreme spikes)\n\nDuplicate rows or key collisions\n\nReferential integrity violations (e.g., orphaned foreign keys)\n\nTimestamp anomalies (e.g., future dates, \"1900-01-01\")\n\nPrecision/scale mismatches (e.g., decimals stored as strings)\n\nSchema drift (e.g., missing or unexpected columns)\n\n📊 Classification:\nEach issue must be labeled as:\n\n\"Fixable with SQL\" – if a SQL script alone can resolve it\n\n\"Needs Policy Establishment\" – if a process/stakeholder decision is needed\n\n🧾 Output Format (Strict Contract):\nReturn exactly one JSON array where each element must include all of the following keys in this order:\n\nissue_id – string, format \"ISSUE-###\" (zero-padded, starting from ISSUE-001)\n\ncategory – \"Fixable with SQL\" or \"Needs Policy Establishment\"\n\ndescription – concise summary, ≤ 200 characters\n\nsample_values – array of 1–5 string examples\n\nsuggestion – fix recommendation, ≤ 200 characters\n\nIf no issues are found, return an empty array: []\n\nDo not omit required keys\n\nDo not include any extra keys or metadata\n\nDo not wrap the array in an object, label, or markdown block\n\n\n⚠️ Final Output Rules:\nThe response must be a JSON array only\n\nIt must start with [ and end with ]\n\nDo not wrap in {}, \"text\":, or code blocks (e.g., no ````json```)\n\nOutput must be compatible with downstream strict schema validation\n\n",
          "maxIterations": 100,
          "batching": {
            "delayBetweenBatches": 6000
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1952,
        208
      ],
      "id": "9cd9f79c-a170-40a1-97fa-042214931bb3",
      "name": "Master Data Investigator Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.toJsonString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the Data Health Reporter Agent, tasked with creating and delivering a polished database health‑check report via Google Docs and Drive.\n\n📥 Input:\n\nReceive exactly one JSON object (no wrappers) with a top‑level key `\"data\"` whose value is an array of issue objects. Each issue object includes:\n\n- `issue_id`\n- `category` \n- `description` \n- `sample_values`\n- `suggestion`\n- _optional_ `output`\n\n🛠️ Tasks:\n\nSummarize the overall health of the database:\n\nTotal number of issues\n\nHow many are marked as resolved (status == \"resolved\")\n\nHow many require discussion\n\n<br>\nDraft report content with the following sections:\n\nTitle:\n“Database Health Check Report – {{$now.format('yyyy-MM-dd')}}”\n\nExecutive Summary:\nA one-sentence overview of the overall data quality status\n\nFixed Issues:\nBullet-point each resolved issue. Include:\n\nissue_id\n\ndescription\n\nexecuted_sql\n\n<br> Add **one line space after each bullet point**. Add **one line above and below the SQL query** if `executed_sql` is shown. <br>\nDiscussion Items:\nBullet-point each issue requiring discussion. Include:\n\nissue_id\n\ndescription\n\nsuggestion\n\n<br> Add **one line space after each bullet point**.\nCreate a new Google Doc using the Google Docs tool.\nFormat the report using clear section headings, proper spacing, and bullet lists for issue details.\n\nShare the document using the Google Drive tool.\nSet permissions to: “anyone with the link can view.”\n\n📝 Google Docs Report Structure:\n\nTitle (bold, centered, 16 pt)\n\nExecutive Summary (12 pt, single paragraph)\n\nFixed Issues (Heading – 14 pt, bullets – 11 pt)\n\nNot Fixed Issues (Heading – 14 pt, bullets – 11 pt) — only include if any\n\nDiscussion Items (Heading – 14 pt, bullets – 11 pt)\n\nEnsure:\n\nOne blank line after each bullet point\n\nSQL queries (if shown) are padded with one blank line above and below\n\n📤 Output Requirements:\n\nReturn exactly one JSON object (no markdown, no code fences, no extra keys) with:\n\n```json\n{\n  \"report_title\": \"<Google Doc title>\",\n  \"report_link\":  \"<publicly shareable URL>\"\n}\n\n\n⚠️ Final Output Rules:\nThe response must be a JSON array only\n\nIt must start with [ and end with ]\n\nDo not wrap in {}, \"text\":, or code blocks (e.g., no ````json```)\n\nOutput must be compatible with downstream strict schema validation\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -352,
        592
      ],
      "id": "db5d9f3f-ff95-4b8a-8376-ab31fddbfe01",
      "name": "Data Investigation Reporter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Master Data Investigator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Can be fixed with SQL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Master Data Investigator Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send Approval Request and Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Data Issue Fixer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Data Investigation Reporter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Data Investigation Reporter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Data Issue Fixer Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq-Kimi-K2": {
      "ai_languageModel": [
        [
          {
            "node": "Master Data Investigator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini-2.5-Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Data Issue Fixer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini-2.5-Flash1": {
      "ai_languageModel": [
        [
          {
            "node": "Data Investigation Reporter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Data Investigation Reporter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Access": {
      "ai_tool": [
        [
          {
            "node": "Data Investigation Reporter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Data Investigation Reporter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Tool": {
      "ai_tool": [
        [
          {
            "node": "Data Issue Fixer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Schema": {
      "ai_tool": [
        [
          {
            "node": "Data Issue Fixer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Tool1": {
      "ai_tool": [
        [
          {
            "node": "Master Data Investigator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres_Schmea": {
      "ai_tool": [
        [
          {
            "node": "Master Data Investigator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Request and Wait": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Data Issue Fixer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Request and Wait1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can be fixed with SQL?": {
      "main": [
        [
          {
            "node": "Send Approval Request and Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Data Investigator Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Investigation Reporter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79f5e758-05db-4480-b1ae-22e7418870c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80506d3448078bcf0bb2e0bcf69531cdc076409df54bd01c6e846b8a70b9afaa"
  },
  "id": "HiTy9jg7OigGGHXs",
  "tags": []
}