conversationAI_Agent/Solar_Panel_Voice_agent.json
{
  "name": "Solar_Panel_Voice_agent_1",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 20,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1K9FnD_BRaop6b9rLBCN_jxGwx8id07I7",
            "mode": "list",
            "cachedResultName": "n8n_demo_voice_agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1K9FnD_BRaop6b9rLBCN_jxGwx8id07I7"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "fbb24776-a507-4063-bf62-4a46309246a3",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sLm0vCDOMG99ETtJ",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8c281292-2f1d-41a4-bfed-7f35ffdb1295",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "c68ce33d-7b03-40dc-ad11-f7b77cc28b94",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sLm0vCDOMG99ETtJ",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "1b376e30-cccc-4c29-b3bd-a117080001f2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "solarpanelsdemo",
          "mode": "list",
          "cachedResultName": "solarpanelsdemo"
        },
        "options": {
          "pineconeNamespace": "solarpanelsdocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        96
      ],
      "id": "b5d15ab0-30a9-4b7a-bc18-ceaf8bf61b3b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HIR2WygsWtK67Asv",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        272
      ],
      "id": "58d77a3d-acd9-4c41-b630-2fc809f34c6d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GeYHEcKDgFBTW3pW",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        304
      ],
      "id": "98887098-821b-4e21-9925-935e064a249e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a6f3603a-2317-41cb-b54a-7530476063e8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1296,
        -48
      ],
      "id": "cb8222ed-11ac-4d63-8b38-f64670577c36",
      "name": "Webhook",
      "webhookId": "a6f3603a-2317-41cb-b54a-7530476063e8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.questions }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1504,
        -48
      ],
      "id": "0bc458a0-e941-4ac4-8efc-3f18c00359de",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        160
      ],
      "id": "d2137bfb-599c-4d94-be68-24d4a379d187",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GeYHEcKDgFBTW3pW",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this data to answer user questions clearly and accurately.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1664,
        160
      ],
      "id": "e43032b2-6a12-40f9-88b6-f080f49bda54",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "solarpanelsdemo",
          "mode": "list",
          "cachedResultName": "solarpanelsdemo"
        },
        "options": {
          "pineconeNamespace": "solarpanelsdocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1424,
        336
      ],
      "id": "2c2ea312-f425-4036-8f73-703f6ed22a43",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "HIR2WygsWtK67Asv",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        480
      ],
      "id": "5106c980-e94f-4251-b612-ac8333beaad4",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "GeYHEcKDgFBTW3pW",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1840,
        368
      ],
      "id": "90297759-be43-4189-ad2e-dc7cb60b1eec",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "GeYHEcKDgFBTW3pW",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1808,
        -48
      ],
      "id": "85649194-e8de-49a0-9662-0b3f18b4639d",
      "name": "Respond to ElevenLabs"
    },
    {
      "parameters": {
        "content": "## Ai Voice agent",
        "height": 832,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        -192
      ],
      "typeVersion": 1,
      "id": "70164a98-64d8-485e-b873-093008ebb025",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## File Uploading",
        "height": 560,
        "width": 1184,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -112
      ],
      "typeVersion": 1,
      "id": "ecb5c314-d1df-4d08-ab96-51ae98382860",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd9466aa-8774-49a8-81f6-a8fdb26c9d11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80506d3448078bcf0bb2e0bcf69531cdc076409df54bd01c6e846b8a70b9afaa"
  },
  "id": "RwZLoKBIhfKanbZL",
  "tags": []
}