conversationAI_Agent/Solar_Panel_Voice_agent.json
{
  "name": "Solar_Panel_Voice_agent",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 20,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1K9FnD_BRaop6b9rLBCN_jxGwx8id07I7",
            "mode": "list",
            "cachedResultName": "n8n_demo_voice_agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1K9FnD_BRaop6b9rLBCN_jxGwx8id07I7"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "2697a6f8-5b1c-4e45-a4d1-3ce2927cfc1d",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "doHCYgH0DgILi9Xx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "10fecce3-de38-4d09-acb9-a842b5847140",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "7dd2eda0-9745-43e2-83db-aeaa23e426ee",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "doHCYgH0DgILi9Xx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "b3d32b35-ede3-4c41-be73-d9c9f27f8f77",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "solarpanelsdemo",
          "mode": "list",
          "cachedResultName": "solarpanelsdemo"
        },
        "options": {
          "pineconeNamespace": "solarpanelsdocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        96
      ],
      "id": "90ea42ca-5761-4abe-a652-5f34510965f8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "WOk3KAJIyl4Ob190",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        272
      ],
      "id": "8c7dae18-b401-487e-bc95-f607c79e645a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "uIxJ2FCooS9mxcV0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        304
      ],
      "id": "8911c692-67d7-473e-8067-d1061ec0509a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "486a528e-b781-4d71-be69-f6d26e3cd2ec",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1296,
        -48
      ],
      "id": "c43312e2-82ec-4af5-b063-693d8b06bdba",
      "name": "Webhook",
      "webhookId": "486a528e-b781-4d71-be69-f6d26e3cd2ec"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.questions }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1504,
        -48
      ],
      "id": "c336e7e5-dc6a-4de1-b93f-0a319cee76ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        160
      ],
      "id": "2c18a6d9-56a8-4bf5-be02-4de2e52492c7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uIxJ2FCooS9mxcV0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this data to answer user questions clearly and accurately.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1664,
        160
      ],
      "id": "8db4c5dd-eec7-45de-a8ec-290df4414c32",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "solarpanelsdemo",
          "mode": "list",
          "cachedResultName": "solarpanelsdemo"
        },
        "options": {
          "pineconeNamespace": "solarpanelsdocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1424,
        336
      ],
      "id": "d79fa841-e4b1-44ed-9fae-5ed67ee50c89",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "WOk3KAJIyl4Ob190",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        480
      ],
      "id": "0108bdfb-c5d9-4f4a-b5fe-a007ed3fe2b5",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "uIxJ2FCooS9mxcV0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1840,
        368
      ],
      "id": "3559035a-8d09-4cce-9f61-71c2576925d2",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "uIxJ2FCooS9mxcV0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1808,
        -48
      ],
      "id": "2c97ef08-824f-4158-af79-d6e71e3faff8",
      "name": "Respond to ElevenLabs"
    },
    {
      "parameters": {
        "content": "## Ai Voice agent",
        "height": 832,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        -192
      ],
      "typeVersion": 1,
      "id": "aa42a18e-db8f-4b3d-8675-bca21584aa5d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## File Uploading",
        "height": 560,
        "width": 1184,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -112
      ],
      "typeVersion": 1,
      "id": "89f595b3-2856-4ce0-9842-8d0f433d194e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "216a910b-3269-48d5-b5f0-db023ebe94b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80506d3448078bcf0bb2e0bcf69531cdc076409df54bd01c6e846b8a70b9afaa"
  },
  "id": "HI07ZLnPL6OFwpQw",
  "tags": []
}