StockTrading_Bot/Stock_Trading.json
{
  "name": "Stock_Trading_1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        96
      ],
      "id": "07b152a8-e6e3-438b-be3f-ea212168bc86",
      "name": "Telegram Trigger",
      "webhookId": "079ef11c-761a-405d-a3ad-dfaf5cccb78a",
      "credentials": {
        "telegramApi": {
          "id": "sOPCnpIpnoM49nXG",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "interval",
              "value": "1min"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -112
      ],
      "id": "a579114e-98f7-4ea7-81f4-f093c7806e7f",
      "name": "1min Interval"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "interval",
              "value": "15min"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        96
      ],
      "id": "72a235cd-0670-4c93-b78c-62d85efdc27b",
      "name": "15min interval"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "interval",
              "value": "30min"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        304
      ],
      "id": "211bfcad-827a-49af-b122-cf9f07000ec5",
      "name": "30min interval"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        80
      ],
      "id": "3917fd8a-af39-413c-9d36-1aab7e1cae76",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a highly intelligent and accurate sentiment analyzer specializing in the financial markets.\nAnalyze the sentiment of the provided text.\n- Evaluate immediate market reaction, news impact, and technical volatility.\n- Classify the sentiment as :\"Positive\", \"Neutral\", or \"Negative\".\nDay Trader AI Agent 1\n- Provide a score between\n- 1(very negative) and 1 (very positive).\n- Give a short rationale explaining the sentiment.\nYour output must be a **JSON object** with:\n- \"category\"\n- \"score\"\n- \"rationale\"\nOnly return the JSON. Example:\n{\"shortTermSentiment\" :{\n\"category\" : \"Positive\", \n\"score\" :0.7, \n\"rationale\" : \"...\"\n}\n}\nNow analyze the following text and return only the JSON:\n{{JSON.stringify($json.articles)}}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        480,
        -400
      ],
      "id": "d64c757f-85d0-4356-8b70-5a245cb28614",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "GeYHEcKDgFBTW3pW",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "937e2320-2273-4532-8751-49c4bd3085d7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst root = items[0].json;\n// extract datasetsconst \ndata1m = root.data[0]; // 1min\nconst data15m = root.data[1]; // 15min\nconst data30m = root.data[2]; // 30min\n// standardize format\nfunction normalize(values) { \n  return values \n    .map(v => ({ \n      time: new Date(v.datetime), \n      open: parseFloat(v.open), \n      high: parseFloat(v.high), \n      low: parseFloat(v.low), \n      close: parseFloat(v.close), \n    })) \n    .sort((a, b) => a.time - b.time);\n}\nreturn [ \n  { \n    json: { \n      ticker: data1m.meta.symbol, \n      candles1m: normalize(data1m.values), \n      candles15m: normalize(data15m.values), \n      candles30m: normalize(data30m.values), \n    } \n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        96
      ],
      "id": "0a308d48-1533-4997-82e7-edb9398cff10",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        -160
      ],
      "id": "d0064129-383f-4677-a038-1973c1949641",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        -160
      ],
      "id": "5fe88507-0155-4478-8f8a-881b5ca5471f",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Purpose**\n\nYou are a professional day trader.\nBased on the candle data and sentiment analysis provided below, give one clear trading recommendation:Buy, Sell, or Hold.\n\n**Your decision must consider**\n- Price action from 1m,15m, and 30min candles\n- Overall sentiment over the last 24h\n\n**Then return the following details**\n\n- Trade Action (Buy/Sell/Hold — based on analysis)\n- Entry Price\n- Stop\n- Loss\n- Target Price\n- Data for Review\n\nCandle Data: {{JSON.stringify($json.data[0])}}\n\nSentiment(Past 24h):{{JSON.stringify($json.data[1])}}\n\n**Each candle includes:\n\n- timeframe:“1m”,“15m”,or “30min”\n- candles:[openTime,open,high,low,close,volume,…]\n\nSteps to Decide:\n\n- Group candles by timeframe\n- Use 1m&15m candleswithRSI,MACD,and rendlines for timing \n- Confirm trend using 30min data - Use sentiment to finalize the recommendation \n- Your Output Format (No explanation text!):\n\nYour Output Format( No explanation text!):\n\n- Trade Action: BUY|SELL|HOLD\n- Entry Price: <number>\n- Stop-Loss: <number>\n- Target Price: <number>",
        "options": {
          "systemMessage": "=**Response Format**\n- Technical Recommendation: <BUY|SELL|HOLD>\n- Entry Price: \n<number or N/A >\n- Stop - Loss:\n< number or N/A >\n- Target/Exit Price:\n< number or N/A >\n- Hold or Exit Decision:\n< Hold | Exit>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1456,
        -160
      ],
      "id": "9b6c6654-ad12-4d80-9d2e-0883985d1eca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        32
      ],
      "id": "69e665b5-1ff7-49eb-a1b2-94bac6d294a5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GeYHEcKDgFBTW3pW",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -160
      ],
      "id": "afc56caf-3ee8-4891-bcc0-75be65555d2e",
      "name": "Send a text message",
      "webhookId": "53c5c1e8-ee6f-4717-bed1-9322f6a9d821",
      "credentials": {
        "telegramApi": {
          "id": "XD3Nwn4rSCGHNjes",
          "name": "GIT"
        }
      }
    },
    {
      "parameters": {
        "content": "###News Extractor",
        "height": 320,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -512
      ],
      "typeVersion": 1,
      "id": "d91e2089-c9fe-4a7a-a987-7111f120a896",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "from",
              "value": "{{$today.minus({days:2}).toFormat('yyyy-MM-dd')}}"
            },
            {
              "name": "apikey"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -400
      ],
      "id": "eff36e72-d39c-4322-baa1-69542103ac90",
      "name": "News Extractor"
    },
    {
      "parameters": {
        "content": "###Price Data Collection ",
        "height": 608,
        "width": 1056,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -128
      ],
      "typeVersion": 1,
      "id": "3760c133-3c57-456f-8167-c8172006e4f0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "###Output",
        "height": 496,
        "width": 928,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        -304
      ],
      "typeVersion": 1,
      "id": "75a98050-7899-4239-8fc2-6fbe6451fb82",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "1min Interval",
            "type": "main",
            "index": 0
          },
          {
            "node": "15min interval",
            "type": "main",
            "index": 0
          },
          {
            "node": "30min interval",
            "type": "main",
            "index": 0
          },
          {
            "node": "News Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30min interval": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "15min interval": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "1min Interval": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News Extractor": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9656b46e-96b6-4854-b735-4a5142872727",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80506d3448078bcf0bb2e0bcf69531cdc076409df54bd01c6e846b8a70b9afaa"
  },
  "id": "zsoENSbfkULg5VvL",
  "tags": []
}